body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative; 
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #9323c7, #8fb4e5), url('Imagenes/Pokemon.jpg') center/cover no-repeat fixed;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px; 
     position: relative;
}

h1 {
    margin: 0; 
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.navbar {
    display: flex;
    gap: 1rem;
    background: linear-gradient(90deg, #ffde59, #ff66c4);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.05);
    border-color: black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.nav-btn {
    padding: 0.5rem 1.5rem;
    background: #ffcb05;
    color: #2a75bb;
    text-decoration: none;
    border-radius: 999px;
    font-weight: bold;
    transition: background 0.2s;
    border-color: black;
    border: solid;
}

.nav-btn:hover {
    background: #2a75bb;
    color: #fff;
}
