<footer class="navbar">
    <!-- Botón: Ir al inicio -->
    <a href="/Proyecto-Pokemon-Page-Pow/index.html" class="nav-btn">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
    </a> 

    <!-- Botón: Ir a la colección de cartas -->
    <a href="/Proyecto-Pokemon-Page-Pow/views/Coleccion.html" class="nav-btn">
        <i class="fas fa-archive"></i>
        <span>Colección</span>
    </a>

    <!-- Botón: Ir a abrir sobres -->
    <a href="/Proyecto-Pokemon-Page-Pow/views/Sobres.html" class="nav-btn">
        <i class="fas fa-gift"></i>
        <span>Sobres</span>
    </a>        

    <!-- Botón: Ir al intercambio -->
    <a href="/Proyecto-Pokemon-Page-Pow/views/intercambio.html" class="nav-btn">
        <i class="fas fa-exchange-alt"></i>
        <span>Intercambio</span>
    </a>
</footer>
