<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../css/Footer.css">
</head>
<body>
    <footer class="navbar">
        <a href="../index.html" class="nav-btn">
            <i class="fas fa-home"></i>
            <span>Inicio</span>
        </a> 
        <a href="../Coleccion.html" class="nav-btn">
            <i class="fas fa-archive"></i>
            <span>Coleccion</span>
        </a>
        <a href="#" class="nav-btn">
            <i class="fas fa-gift"></i>
            <span>Sobres</span>
        </a>        
        <a href="#" class="nav-btn">
            <i class="fas fa-exchange-alt"></i>
            <span>Intercambio</span>
        </a>
    </footer>
</body>
</html>